.row {
  --bs-gutter-x: 0rem !important;
}
.titleStyle {
  color: #eff2f7;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  margin-left: 35px;
}

.labelStyle {
  color: #eff2f7;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  margin-left: 35px;
}

.errorStyle {
  color: red;
  font-size: 14px;
  padding: 10px;
  margin: 10px;
  margin-left: 35px;
}

table > tr {
  background-color: #272d3e;
  color: #ffffff;
}

.card {
  word-wrap: break-word !important;
  background-color: #252b3b !important;
  background-clip: border-box !important;
  border: 0 solid #2d3448 !important;
  border-radius: 0.25rem !important;
  padding: 10px;
  margin: 10px;
  margin-left: 35px;
}

.card-title {
  font-size: 16px;
  margin: 0 0 7px 0;
  font-weight: 500;
  color: #eff2f7;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #79859c;
  vertical-align: top;
  border-color: #2d3448;
}

tbody > tr {
  margin-top: 0.3%;
  margin-bottom: 0.2%;
  color: #eff2f7;
  /* background: #79859c !important; */
  border-color: #2d3448;
  border-radius: 6px !important;
  height: 45px;
}

::ng-deep.p-dialog .p-dialog-header {
  background: #272d3e;
  color: #79859c;
}

::ng-deep.p-dialog .p-dialog-content {
  background: #272d3e;
  color: #79859c;
}

::ng-deep.p-dialog .p-dialog-footer {
  background: #272d3e;
  color: #79859c;
}

::ng-deep.p-inputtext {
  width: 100%;
}

::ng-deep.p-inputnumber {
  width: 100%;
}

.fieldRowClass {
  margin: 1.5rem;
}

.inputLabelClass {
  color: #cacbcc;
  font-size: 13px;
}

.tableAddButtonStyle {
  border-radius: 8px !important;
  margin: 8px !important;
}
