/* You can add global styles to this file, and also import other style files */
@import "./styles/typography";
@import "./styles/variables";
@import "./styles/common";

body {
  background: #1d222e;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #8590a5;
  outline: 1px solid #2d3448;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  border: var(--border-bottom);
  color: var(--button-color);
}
